.todo__section {
  //   border: 2px solid red;
  height: 100%;

  .todo {
    text-align: center;
    border: 2px solid green;
    padding: 2rem;

    form {
      input {
        border: 2px solid black;
      }
    }
  }
}
